<section id="section6">
    <div class="col-md-6">
         <div class="list-group">
            <a href="#" class="list-group-item active" style= 'background-color:#33CCCC'>
               <h2 class="list-group-item-heading" >Program Info</h2>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Title: {{programInfo.Title}}</p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Category: {{programInfo.Category}}</p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Duration: {{programInfo.Duration}}</p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Airing Time: {{programInfo.AiringTime}}</p>
            </a>
	    <a href="#" class="list-group-item">
                <p class="list-group-item-text">TV Rating: {{programInfo.TVRating}}</p>
            </a>
         </div>
     </div>

    <div class="col-md-6">
        <div class="list-group" style= 'background-color:#33CCCC'>
            <a href="#" class="list-group-item active" style= 'background-color:#33CCCC'>
                <img ng-src="/dist/assets/posters/poster-2.jpg" width="100%" />
            </a>
        </div>
    </div>
</section>