<section id="section5">
	<div class='search-results' ng-if= "searchData">
		<a href="#" class="list-group-item active search-results-title">
		   <h4 class="list-group-item-heading" >Search Results</h4>
		</a>
		<div ng-if= "searchData">
			<div class="search-results-container">
				<div class="col-md-12" ng-repeat="programList in searchData">
					<a ui-sref=".searchResultsInfo({aTime:programList.Programs['AiringTime'] , pid: programList.Programs['ProgramId']})" class="list-group-item search-results-item" >
						<img width="50" height="50" ng-src="{{programList.channelImage}}" />
						<span class="search-results-item-title">
							{{programList.Programs.Title}}
						</span>
					</a>
				</div>
			</div>
		</div>	
	</div>
	<div ng-if="searchData.length==0">
		<a class="list-group-item">
			No search results found...
        </a>
	</div>
</section>

<br/>
<div ui-view></div>

</div>
