<section id="section6" class = 'search-results-pgm-info'>
    <div class="col-md-6">
         <div class="list-group">
            <span href="#" class="list-group-item active pgm-info-title">
               <h4 class="list-group-item-heading" >Searched Program Info</h4>
            </span>
            <span class="list-group-item">
                <p class="list-group-item-text">Title: {{programInfo.Title}}</p>
            </span>
            <span class="list-group-item">
                <p class="list-group-item-text">Category: {{programInfo.Category}}</p>
            </span>
            <span class="list-group-item">
                <p class="list-group-item-text">Duration: {{programInfo.Duration}}</p>
            </span>
            <span class="list-group-item">
                <p class="list-group-item-text">Airing Time: {{programInfo.AiringTime}}</p>
            </span>
	    <span class="list-group-item">
                <p class="list-group-item-text">TV Rating: {{programInfo.TVRating}}</p>
            </span>
         </div>
     </div>

    <div class="col-md-6">
        <div class="list-group" class= 'pgm-image-container'>
            <span class="list-group-item active pgm-image">
                <img ng-src="/dist/assets/posters/{{programInfo.img}}" width="100%" />
            </span>
        </div>
    </div>
	
</section>
