/* Overriding */
body {
    background-color: transparent !important;
}

.navbar-default {
    opacity: .7;
}

.slick-slider {
    padding: 10px 0 10px 20px;
}

.slick-slider a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

.overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    background: #ffffff;
    background-size: cover;
    opacity: .5;

}

/*---- THEME : BLUE ----*/
.navbar-default {
    /*background-color: #279ddd;*/
	background-color: #248f8f;
    color: #fff;
	box-shadow: 0px 0px 15px 1px #248f8f;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    /*background-color: #0B73AB;*/
    background-color: #007a7a;

}
/* Channel Section */
#channelSection {
    color: #dedeff;
}
#channelSection .channel-carousel{
}
#channelSection .channel-item {
	text-align:center;
	background-color:#33CCCC;
	padding:5px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	margin:15px;
	box-shadow: 10px 13px 5px 2px #33aaa0;	
}
#channelSection .channel-item-active {
	background-color:#477E7E !important;
	box-shadow: 10px 13px 5px 2px #066262;	
}

/*Program Section */
#programSection {
    color: #686868;
}

#programSection .program-item {
	background:#33CCCC;
	padding:5px;
	border-radius:10px;
	text-align:center;
	margin:15px;
	box-shadow: 10px 13px 5px 2px #33aaa0;
}
#programSection .program-item-active {
	background-color:#477E7E !important;
	box-shadow: 10px 13px 5px 2px #066262;	
}

#programSection .program-item-time {
	border-bottom:4px solid #ffffff;padding-left:10px;padding-right:10px;
}
#programSection .program-item-title {

	height:100px;vertical-align:middle;padding-top:15px;overflow:hidden;
}
#programSection .no-program {
	font-weight:bold;background:#33CCCC;color:#ffffff;padding:20px;
}
#programSection .program-day-up-down {
	font-weight:bold;width:70px;height:30px;color:#ffffff;background-color:#33CCCC;border-radius:10px;margin:10px;margin-top:10px;float:right;
	box-shadow: 10px 5px 8px 0px #248f8f;
}

#programInfoSection {
    margin-top: 10px;
}
#programInfoSection .list-pgm-item, #searchResultsDtSection .list-pgm-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #DDD;
	/*box-shadow: 8px 7px 1px 2px #33aaa0*/
}

#programInfoSection .list-pgm-group, #searchResultsDtSection .list-pgm-group {
    padding-left: 0px;
    margin-bottom: 20px;
}

#programInfoSection .list-pgm-item-head, #searchResultsDtSection .list-pgm-item-head {
	background-color:#33CCCC;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: #ffffff;
	border: 1px solid #3aa;
}
#programInfoSection .list-pgm-item-text-heading, #searchResultsDtSection .list-pgm-item-text-heading {
	font-weight:bold;
}
#programInfoSection .pgm-image {

}
#programInfoSection .pgm-mini-video, #searchResultsDtSection .pgm-mini-video {
	width:525px;height:300px;
}
#programInfoSection .pgm-image-container, #searchResultsDtSection .pgm-image-container {
	background-color:#47D1D1;
}

/*==============Search Options===========*/
.pgm-form-search {
	background-color:#2Eb8b8;
	box-shadow: 0px 0px 15px 1px #248f8f;

}

.pgm-form-search .search-title {
    color:#FFFFFF;
}
.pgm-form-search .search-submit-btn {
	background-color: #477E7E;color:#ffffff;font-weight:bold;
	box-shadow: 10px 5px 8px 0px #248f8f;
	opacity:0.7
}

.search-results .search-results-title{
	background-color:#33CCCC;
}
.search-results .search-results-container{
	max-height: 400px; overflow:auto;
}
.search-results .search-results-item{
	padding-top:10px;padding:bottom:10px;
}

.search-results .search-results-item-title{
	padding-left:50px;
}

.search-results-pgm-info .pgm-info-title {
	background-color:#47d1d1;
}

.search-results-pgm-info .pgm-image-container {
	background-color:#33CCCC
}

.search-results-pgm-info .pgm-image {
	background-color:#47d1d1
}

.slick-prev:before, .slick-next:before { 
    color:#2Eb8b8 !important;
	font-weight:bold;
}


.user-name {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    right :130px;
    width:250px;
    height:50px;
    margin-top: 10px;
}
