<div class="navbar navbar-default navbar-static-top" role="navigation">
    <ul class="nav navbar-nav">
        <li ng-class="{active: $state.includes('tabs.bychannel')}" ><a ui-sref="tabs.bychannel.channellist" tabindex="1" id="byChannel">Guide</a></li>
        <li ng-class="{active: $state.includes('tabs.search')}" ><a ui-sref="tabs.search" tabindex="2">Search</a></li>
        <li ng-class="{active: $state.includes('tabs.recommendations')}" ><a ui-sref="tabs.recommendations" tabindex="3">Recommendations</a></li>
        <li ng-class="{active: $state.includes('tabs.trendingnow')}" ><a ui-sref="tabs.trendingnow" tabindex="4">Trending Now</a></li>

			
    </ul>
    <div class="user-name"><span >Logged in as  </span>{{username}}  &nbsp;&nbsp;&nbsp;&nbsp; <a href='#' style='float:right;'>Log Out</a></div>
</div>
<div class="tabcontent" ui-view="channeltab" ng-show="$state.includes('tabs.bychannel')"></div>
<div class="tabcontent" ui-view="searchtab" ng-show="$state.includes('tabs.search')"></div>
<div class="tabcontent" ui-view="recommendationstab" ng-show="$state.includes('tabs.recommendations')"></div>
<div class="tabcontent" ui-view="trendingnowtab" ng-show="$state.includes('tabs.trendingnow')"></div>
