<section id="channelSection">
	<div  slick-slider="{dots: false, arrows: true, draggable: false, slidesToScroll:1,slidesToShow:5, infinite:false, focusOnSelect:true}">
		<div class="my-slide" ng-repeat="channel in channelList" >
			<a ui-sref=".channel({cid: channel.channel_number})"  >
				<div class="channel-item" id="channel_container_{{channel.channel_number}}">
					<div> Channel {{channel.channel_number}}</div>
					<div>{{channel.channel_name}}</div>
				</div>
			</a>			
        </div>
    </div>
</section>

<div ui-view></div>