<!-- Program Carousel -->
<section id="section2">
    <!--<div slick-slider="{dots: false, arrows: false, draggable: false, slidesToShow:5, infinite:false}">
        <div class="my-slide" ng-repeat="program in programList track by $index">
            <a ui-sref=".programInfo({pid: program.Programs['ProgramId']})" class="programCarousel">{{ program.Programs["Title"] }}</a>
        </div>
    </div>
	-->
    <div slick-slider="{dots: true, arrows: TRUE, draggable: false, slidesToScroll:1,slidesToShow:5, infinite:false}">
	
        <div class="my-slide pgm-grid" ng-repeat="program in programList" style='margin:5px;background:#33CCCC;;padding:5px;'>
		
			<!--<a ui-sref=".programInfo({pid: program.program_id})" class="channelCarousel">
				<div style='text-align:center;'>
					<div>  {{program.title}} </div>
					<div>cast({{program.cast}} )</div>
					<div>Time: {{program.pgmTime}} </div>
					<div>Day:{{program.pgmDay}} </div>
				</div>

			</a>-->
			<a ui-sref=".programInfo({pid: program.program_id})" class="channelCarousel">
				<div style='text-align:center;'>
					<div style='border-bottom:4px solid #ffffff;padding-left:10px;padding-right:10px;'>{{program.pgmTime}} </div>
					
					<div style='height:70px;vertical-align:middle;padding-top:15px;'>  {{program.title}} </div>
				</div>

			</a>
            <!--<a ui-sref=".channel({cid: channel.channel_number})" class="channelCarousel"><img width="140" height="140" ng-src="{{channel.channel_logo_id}}" /></a>-->
			
        </div>
    </div>
</section>

<div ui-view></div>