<!-- Program Carousel -->
<section id="programSection">
	<div ng-if="programList.length>0">
		<div slick-slider="{dots: false, arrows: TRUE, draggable: false, slidesToScroll:1,slidesToShow:4, infinite:false, focusOnSelect:true}">
			<div class="my-slide pgm-grid" ng-repeat="program in programList" >
				<a ui-sref=".programInfo({pid: program.program_id})">
					<div class='program-item' id="program_container_{{program.program_id}}">
						<div class='program-item-time'>{{program.pgmTime}} </div>
						<div class='program-item-title'>  {{program.title}} </div>
					</div>
				</a>			
			</div>
		</div>
	</div>
	<div ng-if="programList.length==0">
		<span class="list-group-item no-program">
			No epg data available... Please try for different date...
        </span>
	</div>
	<div>{{programDate.date}}</div>
	<div ng-controller="channelControllerAction">
		<button class='program-day-up-down btn search-submit-btn' type="submit" ng-click="dayPlus()">Day +</button>
		<button class='program-day-up-down btn search-submit-btn' type="submit" ng-click="dayMinus()">Day -</button>
	</div>
	<br/><br/>
</section>

<div ui-view></div>