<section id="section3" class = 'search-results-pgm-info'>
    <div class="col-md-6">
         <div class="list-group">
			<div class="list-group">
			   <span class="list-group-item active" style= 'background-color:#33CCCC'>
				   <h4 class="list-group-item-heading" >Program Info</h4>
				</span>
				<p class="list-group-item">
					<span class="list-group-item-text"><span style="font-weight:bold;">Title: </span>{{programInfo.title}}</span>
				</p>
				<p class="list-group-item">
					<span class="list-group-item-text"><span style="font-weight:bold;">Genre: </span>{{programInfo.genre}}</span>
				</p>
				<p class="list-group-item">
					<span class="list-group-item-text"><span style="font-weight:bold;">Airing Time: </span>{{programInfo.pgmTime}}  ({{programInfo.pgmDay}})</span>
				</p>				
				<p class="list-group-item">
					<span class="list-group-item-text"><span style="font-weight:bold;">Duration: </span>{{programInfo.duration}}</span>
				</p>
				<p class="list-group-item">
					<span class="list-group-item-text"><span style="font-weight:bold;">Cast: </span>{{programInfo.cast}}</span>
				</p>
				<p class="list-group-item">
					<span class="list-group-item-text"><span style="font-weight:bold;">Audio Type: </span>{{programInfo.audioType}}</span>
				</p>
			</div>
     </div>
   </div>
   <div class="col-md-6">
        <div class="list-group" class= 'pgm-image-container'>
            <span class="list-group-item  pgm-image">
                <!--<img ng-src="/dist/assets/posters/{{programInfo.img}}" width="100%" />-->
						<video  style= 'width:540px;height:300px;' preload="auto" id="bgvid-1">
						</video>
            </span>
        </div>
    </div>
</section>