<div ng-controller="userAuthController">
    <section id="section7">
        <form class="user-auth-page">
            <!--<label class='auth-title'> User Authentication Page </label>-->
            <!--<input type="text" ng-model="keywords" placeholder="Keywords...">-->
            <h4 class="list-group-item-heading" >Welcome to user Authentication Page</h4>
            <button type="Login" ng-click="login()" class ="btn login-btn">Log In</button>
            <button type="Register" ng-click="register()" class ="btn register-btn">Register</button>
            <!--<p class="help-block">Search with program title</p>-->
        </form>
    </section>

    <div ui-view></div>

</div>
