<div ng-controller="userAuthRegisterController">
    <section id="section9">
        <form class="well pgm-form-search">
            <label class='search-title'>User Name &nbsp </label>
            <input type="text" ng-model="username" placeholder="user name..."> <br>

            <label class='search-title'>First Name &nbsp </label>
            <input type="text" ng-model="firstname" placeholder="First Name..."> <br>

            <label class='search-title'>Last Name &nbsp</label>
            <input type="text" ng-model="lastname" placeholder="Last Name..."> <br>

            <label class='search-title'>Password &nbsp</label>
            <input type="password" ng-model="password" placeholder="Password..."> <br>

            <label class='search-title'>Email ID &nbsp &nbsp</label>
            <input type="text" ng-model="emailid" placeholder="Email Id..."> <br>

            <label class='search-title'>Age &nbsp &nbsp &nbsp &nbsp &nbsp</label>
            <input type="text" ng-model="age" placeholder="Age..."> <br>

            <label class='search-title'>Gender &nbsp &nbsp</label>
            <label>
                <input type="radio" ng-model="gender" value="male">
                Male
            </label>
            <label>
                <input type="radio" ng-model="gender" value="female">
                Female
            </label>
            <br>

            <button type="submit" ng-click="registerUser()" class ="btn register-submit-btn">Submit</button>
        </form>
    </section>

    <div ui-view></div>

</div>
